.navbar-st {
    background-color: #1376bc;
    --navbar-hover-bg: rgba(var(--white-rgb), 0.1);
    --navbar-disabled-bg: transparent;
    --navbar-hover-active-bg: rgba(var(--white-rgb), 0.15);
    --navbar-hover-active-color: #fff;
    --navbar-active-bg: rgba(var(--white-rgb), 0.15);
    --navbar-color: #fff;
    --navbar-link-color: #fff;
    --navbar-link-hover-color: #fff;
    --navbar-hover-color: #fff;
}

.seminar .seminar-section .seminar-list .empty-calendar img{
    width: 250px;
}

.seminar .seminar-section .seminar-list .seminar-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex
;
    overflow: hidden;
    padding-top: 10px;
}

.seminar .seminar-section .seminar-list .seminar-item .date_stamp {
    width: 55px;
    text-align: center;
    margin-right: 7px;
    margin-top: 6px;
}

.seminar .seminar-section .seminar-list .seminar-item .date_stamp .date_stamp_top {
    color: #fff;
    font-size: 12px;
    background: #1376bc;
    padding: 2px 0 2px 0;
}

.seminar .seminar-section .seminar-list .seminar-item .date_stamp .date_stamp_top .weekday {
    font-size: 11px;
    color: #fff;
    text-transform: capitalize;
}

.seminar .seminar-section .seminar-list .seminar-item .date_stamp .date_stamp_top .event_date {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.seminar .seminar-section .seminar-list .seminar-item .date_stamp .date_time_bottom {
    padding: 2px 0 2px 0;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.seminar .seminar-section .seminar-list .seminar-item .seminar_item_right .article-title {
    font-size: 1.3em !important;
    font-weight: normal;
}

.seminar .seminar-section .seminar-list .seminar-item .seminar_item_right .article-title a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card .card-header{
    justify-content: start;
}

.navbar-nav-link.active, .navbar-nav-link.show, .navbar-nav-link[aria-expanded=true]{
    color: #fff !important;
}
.fs-table {
    font-size: 13px;
}

div:where(.swal2-icon) .swal2-icon-content{
    font-size: 1em !important;
}


.spinner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(219, 234, 254, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forget-pass-arrow{
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 2em;
    color: #1376bc;
}

.btn{
    position: relative;
}

.btn-loading{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}
.animate-spin {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

.fs-14{
    font-size: 14px !important;
}

.modal-custom{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 8px;

}
.modal-custom .modal-dialog{

}
.modal-custom .modal-dialog .modal-header{
    padding: 20px;
    border-bottom: 1px solid #D1D5DB;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
